{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . }}
              <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
            {{ end }}
          </div>
        {{- end }}
        {{ if .Site.Params.moreMeta -}}
        <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
        <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}
        {{ if and .Site.Params.busuanzi.enable .Site.Params.busuanzi.pagePV -}}
        {{ $valueSpan := printf `<span id="busuanzi_value_page_pv"><img src="%s" alt="spinner.svg"/></span>` ("img/spinner.svg" | relURL) -}}
        <span id="busuanzi_container_page_pv" class="more-meta"> {{ printf (T "pagePV") $valueSpan | safeHTML }} </span>
        {{- end }}
      </div>
    </header>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

    <!-- Content -->
    <div class="post-content">

      {{ if .Page.Params.pptView.enable -}}
      {{ range .Site.Params.pptView.css }}
         <link rel="stylesheet" type="text/css" href="{{ . }}">
      {{ end }}
      {{ range .Page.Params.pptView.css }}
        {{ if . }}
         <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{ end }}
      {{ end }}

      {{ .Summary }}
      {{ if .Page.Params.pptView.startBtn }}
        <button class="pptstart" onclick="pptstart();">{{ .Page.Params.pptView.startBtn }}</button>
      {{ else }}
        <button class="pptstart" onclick="pptstart();">演示</button>
      {{ end }}
      

      <div id="impress-mark-bg">
        <div id="impress-wrapper">
          <div id="impress" data-transition-duration="1000">
            <div id="markdown" class="step slide markdown">{{ .RawContent }}</div>
          </div>
        </div>
        <div id="impress-toolbar"></div>
        <div class="impress-progressbar"><div></div></div>
        <div class="impress-progress"></div>
        <div id="impress-help"></div>
      </div>
      
      <!-- <script type="text/javascript" src="/lib/impress/impress-extras/highlight/highlight.pack.js"></script> -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
      <script type="text/javascript" src="/lib/impress/impress.js"></script>
      <script type="text/javascript">
        window.pptDefalutAttrs = JSON.parse({{ .Site.Params.PptView.Attrs | jsonify }});
        
        var api;
        var rawContent = $('#impress').html();

        {{ if .Page.Params.PptView.Attrs -}}
        var impressAttrs = JSON.parse({{ .Page.Params.PptView.Attrs | jsonify }});
        if(impressAttrs) {
          for(var key in impressAttrs) {
            $('#impress').attr(key, impressAttrs[key]);
          }
        }
        {{ end }}
        function pptstart() {
          $('#impress').html(rawContent);
          $('#impress-mark-bg').show();
          api = impress();
          api.init();
          $("#impress-toolbar").append('<button onclick="pptclose();">关闭</button>')
          setTimeout(function () {
            $('#impress').focus();
          }, 100)
        }
        function pptclose(argument) {
          $('#impress-mark-bg').hide();
          api.tear();
        }
        // pptstart();
        
      </script>
        {{ range .Page.Params.pptView.js }}
          {{ if . }}
           <script src="{{ . }}"></script>
          {{ end }}
        {{ end }}
      {{ else }}
        {{ .Content }}
      {{ end }}
    </div>

    <!-- Copyright -->
    {{ partial "post/copyright.html" . }}

    <!-- Reward -->
    {{ partial "post/reward.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        </div>
      {{- end }}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
{{- end }}
