// ==============================
// Search
// =============================

.search-wrapper {
  	position: absolute;
    right: 45px;
    bottom: 0;
}

@include max-screen() {
  .search-wrapper {
    display: none;
  }
}
