<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

{{- if .Site.Params.Search.Enable }}
<link href="{{"lib/search/auto-complete.css" | relURL}}" rel="stylesheet">

<div class="search-wrapper">
  <div class="searchbox">
    <div id='inputfield'>
      <i class='fa fa-search icon-search'></i>
      <input id="search-by" autocomplete='off' autocorrect='off' name='address' placeholder="{{T "Search-placeholder"}}"
       spellcheck='false' type='text'>
    </div>
  </div>
</div>

{{- end}}

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>